<!DOCTYPE html>
<html ng-app="adminApp" ng-controller="adminController">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width" initial-scale="1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="admin_angular.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="import" href="nav.html">

    <title></title>
</head>
<body style="background-color: lightcyan" >

<div id="navigation">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navitems">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/login">BookWorm</a>
            </div>
            <div class="collapse navbar-collapse" id="navitems">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container-fluid" >
    <div class="col-lg-2"> </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="page-header"><h3 align="center">Update A Quiz</h3></div>
             <!--   <form id="regform">  -->

                <div  ng-show="succ" class="alert alert-success"><span  class="glyphicon glyphicon-ban-circle"></span><span style="margin-left: 5px">Congratulation! Quiz Updated Successfully! Update Another Question</span><a href="#" class="close" data-dismiss="alert">&times</a> </div>
                <div  ng-show="quizenabled" class="alert alert-success"><span  class="glyphicon glyphicon-ban-circle"></span><span style="margin-left: 5px">Congratulations! The quiz is now live</span><a href="#" class="close" data-dismiss="alert">&times</a> </div>
                    <div class="form-group">
                        <label>Select A Quiz Name to Update</label>
                        <select name="quiz" ng-model="quiz" ng-options="sub.quizname for sub in quizzes">
                            <option value="">Select Quiz</option>

                        </select>
                    </div>
                    <br/>
                    <a href="/submit_ques?quizid={{quiz.quizid}}" class="btn btn-info"><span class="glyphicon glyphicon-play"></span>Add Question</a>
                    <button ng-click="updateQues()" class="btn btn-info"><span class="glyphicon glyphicon-play"></span>Update Question</button>


                <hr/>

                    <div ng-show="dispQues">
                        <ul>
                            <li ng-repeat="ques in questions" style="list-style: none; ">
                                <div class="jumbotron"  style="padding:10px 10px 10px 10px " ng-click="update(ques)"  >{{ques.question}}
                                <hr/>
                                    <div class="alert alert-info"  style="height:4px ;margin-bottom:5px ; margin-top:0px  "><h6 style="overflow: auto; position: relative; bottom: 15px"> {{ques.option1}} </h6>  </div>
                                    <div class="alert alert-info"  style="height:4px;margin-bottom:5px  "><h6 style="overflow: auto; position: relative; bottom: 15px"> {{ques.option2}} </h6>  </div>
                                    <div class="alert alert-info"  style="height:4px ;margin-bottom:5px "><h6 style="overflow: auto; position: relative; bottom: 15px"> {{ques.option3}} </h6>  </div>
                                    <div class="alert alert-info"  style="height:4px;margin-bottom:5px  "><h6 style="overflow: auto; position: relative; bottom: 15px"> {{ques.option4}} </h6>  </div>
                                    <div class="alert alert-success" style="height:4px;margin-bottom:5px  "><h6 style="overflow: auto; position: relative; bottom: 15px">Answer : {{ques.answer}} </h6>  </div>
                                </div>
                               <!-- <input type="radio" ng-model="selected" name="name" value="{{ques}}" required /> -->
                            </li>
                        </ul>
                    </div>

                   <!-- </form> -->
                <div ng-show="editContent">

                    <form  id="updateform">
                        <div class="form-group">
                            <label>Your Question</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-text-width"></span></div>
                                <textarea class="form-control" placeholder="{{selectedQues.question}}" ng-model="selectedQues.question" name="ques" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Option-1</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                                <input type="text" class="form-control" placeholder="{{selectedQues.option1}}" ng-model="selectedQues.option1" name="op1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Option-2</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                                <input type="text" class="form-control" placeholder="{{selectedQues.option2}}" ng-model="selectedQues.option2" name="op2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Option-3</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                                <input type="text" class="form-control" placeholder="{{selectedQues.option3}}" ng-model="selectedQues.option3" name="op3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Option-4</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
                                <input type="text" class="form-control" placeholder="{{selectedQues.option4}}" ng-model="selectedQues.option4" name="op4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Previous Answer :</label> {{selectedQues.answer}}
                            <div class="input-group" >
                                <label class="checkbox-inline"><input type="checkbox" ng-model="op1" name="ans" value="op1">Option 1</label>
                                <label class="checkbox-inline"><input type="checkbox"  ng-model="op2" name="ans" value="op2">Option 2</label>
                                <label class="checkbox-inline"><input type="checkbox" ng-model="op3"  name="ans" value="op3">Option 3</label>
                                <label class="checkbox-inline"><input type="checkbox" ng-model="op4" name="ans" value="op4">Option 4</label>
                            </div>
                        </div>

                        <br/>

                        <hr/>

                        <button ng-click="submitUpdateQuiz()" class="btn btn-info"><span class="glyphicon glyphicon-inbox"></span> Submit</button>

                    </form>
                </div>

            </div>
        </div></div>
</div>
</body>
</html>