<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myController">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width" initial-scale="1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="Quiz_angularserver.js"></script>
<script>
 $(document).ready(function(){
     var sec=0;
     var min=0;
     var counter=0;
     var timer= setInterval(tick,1000);
     function tick(){
         if(counter%60==0){
             min=counter/60;
             sec=0;
         }

     //    document.querySelector('#sp').innerHTML='<a href="#">Timer: '+min+':'+sec+'</a>';
     //   $('#sp').html('<a href="#">Timer: '+min+':'+sec+'</a>');
         $('#sp').html('Timer: '+min+':'+sec);
         counter++;
         sec++;
         if(min==15){
             clearInterval(timer);
             //timeout();
             angular.element('html').scope().calltimeout();  // making call to a function in the controller from jquery
             angular.element('html').scope().$apply()
         }
     }})
</script>

    <title></title>
</head>
<body >

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navitems">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/login">BookWorm</a>
        </div>
        <div class="collapse navbar-collapse" id="navitems">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">On</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>

                    </ul>
                </li>
                <li style="position: relative; left:20px" id='sp1'></li>
                <li style="margin-left:600px"><a href="/login">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container" >
   <div class="row" style="margin-bottom: 50px">
    <div class="col-lg-10"></div>
    <div ng-hide="submitted" class="col-lg-2" style="position: relative; left:20px" id='sp'></div>   <!-- timer will be displayed here -->
   </div>
    <div id="ques" class="jumbotron">
        <div id="question" ng-model="newQues" ng-hide="submitted">
        <div class="panel panel-default" style="padding: 50px">
            <div class="panel-body" >{{newQues.question}}
        </div>
        </div>
        <form method="post">
        <div class="panel panel-default">

            <div class="panel-body">
            <div class="checkbox">
                <label><input type="checkbox" class="check" value='op1'>{{newQues.option1}}</label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" class="check" value='op2'>{{newQues.option2}}</label>
            </div>

            <div class="checkbox ">
                <label><input type="checkbox" class="check" value='op3' >{{newQues.option3}}</label>
            </div>
                <div class="checkbox ">
                    <label><input type="checkbox" class="check" value='op4'>{{newQues.option4}}</label>
                </div>
        </div>


        </div>
        <hr/>
            <button ng-show="showPrev" id="prev" class="btn btn-info" ng-click="prevQues()">Previos <span class="glyphicon glyphicon-arrow-left"></span></button>
        <button ng-show="showNext" id="next" class="btn btn-info" ng-click="nextQues()">Next <span class="glyphicon glyphicon-arrow-right"></span></button>
        <button ng-click="submitAll()" class="btn btn-success" style="position: relative; float:right">Submit All <span class="glyphicon glyphicon-arrow-right"></span></button>
        </form>
    </div>
        <div ng-show="timeout">
            <h3 align="center">Oops TimeOut!!  </h3>
          </div>
    <div ng-show="submitted">
        <h3 align="center">Quiz Report </h3>
        <p align="center">Congratulation! You have completed your quiz</p>
        <h3 id='score' style="text-align:center" ng-model="correctans">Total Correct Answers : {{correctans}} out of {{totalQues+1}} Questions  </h3>
    </div>



    </div>

</div>

</body>
</html>