<!DOCTYPE html>
<html ng-app="adminApp" ng-controller="adminController">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width" initial-scale="1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="admin_angular.js"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <title></title>

    <script>

        $(document).ready(function(){
            jQuery('#datetimepicker').datetimepicker;
        });


    </script>
</head>
<body style="background-color: lightcyan" >

<div id="navigation">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navitems">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/login">BookWorm</a>
            </div>
            <div class="collapse navbar-collapse" id="navitems">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid" >
    <div class="col-lg-2"> </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header"><h3 align="center">Schedule A Quiz</h3></div>
                <form method="post"  id="regform">

                    <div  ng-show="disableSucc" class="alert alert-success"><span  class="glyphicon glyphicon-ban-circle"></span><span style="margin-left: 5px">Quiz Scheduled  Successfully!</span><a href="#" class="close" data-dismiss="alert">&times</a> </div>
                    <div class="form-group">
                        <label>Select A Quiz Name Schedule</label>
                        <select name="quiz" ng-model="disablequiz" ng-options="sub.quizname for sub in quizzes">
                            <option value="">Select Quiz</option>
                        </select>

                    </div>

                    <div class="form-group" >

                        <input id="datetimepicker" type="text" >
                    </div>



                    <br/>

                    <button ng-click="scheduleQuiz()" class="btn btn-info"><span class="glyphicon glyphicon-play"></span>Submit</button>



                </form>

            </div>
        </div></div>
</div>
</body>

<link rel="stylesheet" type="text/css" href="jquery.datetimepicker.css"/>
<script src="jquery.js"></script>
<script src="jquery.datetimepicker.js"></script>
</html>